@import '../../styles/mixins/fonts-mixins.scss';
@import '../../styles/mixins/screen-mixins.scss';
@import '../../styles/mixins/page-section-styles.scss';
@import '../../styles/mixins/input-media-styles.scss';

.pagePasswordForgot {
  @include respond-to(480px) {
    @include page-section-styles;
  }

  &__title {
    margin-bottom: 40px;
    text-align: center;

    @include font-bold(30px);
    line-height: 38.73px;
  }

  &__emailContainer {
    margin-bottom: 25px;
  }

  &__emailWrongMessage {
    opacity: 0;
    z-index: -1;

    margin-left: 10px;
    position: absolute;

    font-size: 12px;
    color: #dd3e1e;

    transition: opacity 0.3s, transform 0.3s;
    transform: translateY(0px);

    &--show {
      opacity: 1;
      transform: translateY(-16px);
    }
  }

  &__forgotForm {
    display: flex;
    flex-direction: column;

    &-input {
      max-width: 400px;
      min-width: 400px;
      height: 48px;

      padding: 0px 12px 0px 12px;

      border-radius: 6px;
      border: 1.2px solid #D3D8DC;

      @include font-regular(15px);
      line-height: 20px;
      color: #060E1E;

      &--wrong {
        border: 1px solid #dd3e1e;
      }

      @include respond-to(480px) {
        @include input-media-styles;
      }
    }
  }

  &__btnSend {
    height: 48px;
    border-radius: 8px;
    background-color: #316FEA;

    color: #fff;
    @include font-medium(16px);
    line-height: 21px;

    margin-bottom: 20px;
  }

  &__btnCancel {
    width: 100%;
    height: 48px;
    border-radius: 8px;
    border: 1.2px solid #D3D8DC;
    background-color: #FFF;

    color: #060E1E;
    @include font-medium(16px);
    line-height: 21px;

    margin-bottom: 20px;

    transition: transform 0.2s ease-in-out;

    &:hover {
      transform: translate(0px, -2px);
    }

    &:active {
      transform: translate(0px, 0.5px);
    }
  }
}